In [51]:
import pandas as pd

In [52]:
zori = 'Zip_zori_uc_sfrcondomfr_sm_month.csv'

In [53]:
zori_rental_df = pd.read_csv(zori)
zori_rental_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1591.593431,...,2033.360207,2030.836281,2027.310888,2007.261849,1997.415133,1986.055808,2004.652262,2013.206367,2037.818630,2045.061380
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1276.795192,...,1839.948734,1839.773863,1829.535986,1819.380127,1828.955105,1843.265389,1857.618837,1866.515835,1877.838443,1879.753396
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,1178.362493,...,1690.557779,1688.767627,1719.064738,1712.982510,1715.995415,1697.688864,1701.622949,1705.549600,1730.700763,1742.280392
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1463.551799,1473.772984,1475.235581,1476.670740,1493.310505,1490.111008,1488.277665,1481.205576,1486.615577,1495.669192
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,3078.430753,3088.987360,3086.268959,3059.448431,3032.053183,3025.906982,3019.663804,3069.321744,3076.843419,3134.901587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6560,93395,30490,80444,zip,CO,CO,Georgetown,"Denver-Aurora-Lakewood, CO",Clear Creek County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200.000000
6561,91179,30490,76005,zip,TX,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,1974.229283,1926.628055,1873.961886,1824.343144,1834.869023,1820.426846,1834.510012,1838.851252,1863.789342,1901.203704
6562,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4217.182550,4214.210460,4263.577187,4181.072699,3998.905871,3990.365170,4050.720370,4282.831820,4324.338928,4454.722222
6563,97071,30490,92878,zip,CA,CA,Corona,"Riverside-San Bernardino-Ontario, CA",Riverside County,NaN,...,2696.645410,2672.672407,2557.867108,2547.423979,2540.172442,2606.566784,2669.069306,2727.184731,2724.836982,2680.000000
6564,62387,39992,12085,zip,NY,NY,Altamont,"Albany-Schenectady-Troy, NY",Albany County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1307.281152,1302.500000

In [54]:
zori_rental_df = zori_rental_df[zori_rental_df['State'] == 'FL']
zori_rental_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
122,73221,135,34787,zip,FL,FL,Winter Garden,"Orlando-Kissimmee-Sanford, FL",Orange County,1431.939963,...,2600.191733,2566.318774,2543.262409,2544.189325,2520.550116,2525.586919,2503.267636,2544.794565,2564.770517,2595.719671
132,73233,146,34953,zip,FL,FL,Port Saint Lucie,"Port St. Lucie, FL",Saint Lucie County,NaN,...,2592.913549,2595.375053,2576.310496,2567.180198,2569.946985,2560.878694,2534.375289,2549.340542,2582.019007,2611.050193
133,72362,147,33024,zip,FL,FL,Pembroke Pines,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,1318.509286,...,2520.050765,2561.782337,2523.129881,2494.220925,2397.903909,2389.367443,2407.611887,2487.501028,2557.393737,2604.488235
134,72578,148,33411,zip,FL,FL,NaN,"Miami-Fort Lauderdale-Pompano Beach, FL",Palm Beach County,1222.299188,...,2320.407541,2322.850930,2359.910187,2370.157003,2347.627955,2312.087999,2314.139722,2329.546476,2305.517619,2244.965407
168,72363,182,33025,zip,FL,FL,Miramar,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,1575.337216,...,2674.836416,2674.775783,2661.236564,2642.272101,2603.997784,2609.199150,2626.230819,2661.367172,2677.684603,2672.115315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,399570,12451,32163,zip,FL,FL,The Villages,"The Villages, FL",Sumter County,NaN,...,NaN,NaN,NaN,NaN,2743.407836,2658.558699,2210.378060,2118.504130,2149.736009,2341.888889
6504,72525,15706,33306,zip,FL,FL,Fort Lauderdale,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,NaN,...,2673.901801,2718.856605,2719.715005,2532.836574,2619.008826,2602.564206,2635.720949,2514.085391,2469.022115,2514.277778
6514,73216,16347,34773,zip,FL,FL,Saint Cloud,"Orlando-Kissimmee-Sanford, FL",Osceola County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2397.500000
6532,72024,17971,32502,zip,FL,FL,Pensacola,"Pensacola-Ferry Pass-Brent, FL",Escambia County,NaN,...,1622.613096,1745.033385,1916.804266,1895.702857,1866.697004,1767.409894,1805.668400,1772.623051,1789.073589,1776.555556
6544,72426,20383,33122,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [55]:
miami_rental_df = zori_rental_df[zori_rental_df['CountyName'] == 'Miami-Dade County']
miami_rental_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
218,72350,234,33012,zip,FL,FL,Hialeah,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
219,72353,235,33015,zip,FL,FL,Country Club,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1285.292166,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
222,72488,238,33186,zip,FL,FL,The Crossings,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1519.381491,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
264,72460,286,33157,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1465.040623,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
295,72371,319,33033,zip,FL,FL,Homestead,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1264.251603,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,72484,8096,33182,zip,FL,FL,Tamiami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3104.819589,3220.902044,3178.937410,3220.000000
5799,72492,8204,33190,zip,FL,FL,Cutler Bay,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5816,72435,8249,33132,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,2061.374868,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6273,72431,10536,33128,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6544,72426,20383,33122,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [56]:
miami_rental_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2015-01-31',
       ...
       '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31',
       '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31'],
      dtype='object', length=122)

In [57]:
miami_rental_df = miami_rental_df.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName', 'City'])

In [58]:
miami_rental_df

,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
218,33012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
219,33015,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
222,33186,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
264,33157,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
295,33033,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,33182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3104.819589,3220.902044,3178.937410,3220.000000
5799,33190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5816,33132,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6273,33128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6544,33122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [59]:
miami_rental_df = miami_rental_df.fillna(0)

In [60]:
miami_rental_df

,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
218,33012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
219,33015,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
222,33186,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
264,33157,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
295,33033,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,33182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3104.819589,3220.902044,3178.937410,3220.000000
5799,33190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5816,33132,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6273,33128,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6544,33122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [61]:
miami_rental_df = miami_rental_df.T
miami_rental_df

,218,219,222,264,295,386,503,520,541,678,...,5493,5521,5528,5663,5744,5768,5799,5816,6273,6544
RegionName,33012.000000,33015.000000,33186.000000,33157.000000,33033.000000,33178.000000,33142.000000,33177.000000,33032.000000,33161.000000,...,33154.000000,33146.000000,33149.000000,33035.000000,33129.000000,33182.000000,33190.000000,33132.000000,33128.000000,33122.000000
2015-01-31,0.000000,1285.292166,1519.381491,1465.040623,1264.251603,1844.666727,0.000000,1445.220427,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2061.374868,0.000000,0.000000
2015-02-28,0.000000,1313.746795,1526.820553,1468.133916,1266.481269,1856.479903,0.000000,1437.368083,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2092.694893,0.000000,0.000000
2015-03-31,0.000000,1324.786051,1527.210565,1446.894027,1279.911679,1849.971919,0.000000,1447.773391,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2109.612896,0.000000,0.000000
2015-04-30,0.000000,1331.275170,1536.109784,1472.454450,1289.525397,1854.979972,0.000000,1462.163417,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2112.372478,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,2342.597893,2335.681230,2729.738257,3016.229933,2434.277868,3024.869759,2142.841967,2757.310150,2582.520468,2363.312784,...,4373.011210,3613.577147,8173.301715,2213.264664,3566.261797,0.000000,2708.584247,3375.699809,2934.854485,2887.372106
2024-02-29,2310.047288,2332.635388,2704.000459,3014.820887,2456.611251,3010.740941,2195.133870,2864.104781,2672.696822,2355.417459,...,4334.082572,3623.507827,8362.138345,2222.115886,3596.212628,3104.819589,2764.095877,3401.755981,2968.753169,2970.310031
2024-03-31,2351.932214,2336.265008,2715.204890,3035.940538,2498.258431,3038.711323,2321.883538,2833.677065,2666.151290,2332.504922,...,4321.943596,3685.329117,8260.069193,2244.855616,3558.391677,3220.902044,2876.276014,3435.311261,3005.287651,3015.884236
2024-04-30,2356.574453,2340.844973,2737.217305,3109.869670,2581.827204,3056.725678,2381.430769,2893.765429,2828.978738,2354.232188,...,4250.219516,3741.974733,8328.115771,2315.292844,3613.970092,3178.937410,2918.284774,3426.624682,3038.089176,2987.434964
2024-05-31,2436.666667,2360.198413,2774.518058,3125.412821,2614.230159,3076.428385,2358.666667,2904.932412,2837.857143,2429.819444,...,4363.075142,3828.642633,8165.000000,2335.161616,3602.158570,3220.000000,2868.888889,3428.436080,3067.439683,2976.808333

In [62]:
miami_rental_df = pd.DataFrame(miami_rental_df)

In [63]:
miami_rental_df = miami_rental_df.T

In [64]:
miami_rental_df

,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
218,33012.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
219,33015.0,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
222,33186.0,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
264,33157.0,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
295,33033.0,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,33182.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3104.819589,3220.902044,3178.937410,3220.000000
5799,33190.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5816,33132.0,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6273,33128.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6544,33122.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [71]:
miami_rental_df = miami_rental_df.reset_index(drop=True)

In [72]:
miami_rental_df = miami_rental_df.astype(int)

In [76]:
miami_rental_df

,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,33012,0,0,0,0,0,0,0,0,0,...,2318,2299,2353,2328,2336,2342,2310,2351,2356,2436
1,33015,1285,1313,1324,1331,1331,1332,1314,1322,1344,...,2350,2335,2333,2323,2322,2335,2332,2336,2340,2360
2,33186,1519,1526,1527,1536,1544,1548,1566,1575,1589,...,2705,2708,2683,2721,2713,2729,2704,2715,2737,2774
3,33157,1465,1468,1446,1472,1477,1506,1511,1526,1575,...,3011,2982,3023,3049,3060,3016,3014,3035,3109,3125
4,33033,1264,1266,1279,1289,1299,1298,1297,1305,1318,...,2536,2553,2557,2540,2506,2434,2456,2498,2581,2614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,33182,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3104,3220,3178,3220
62,33190,0,0,0,0,0,0,0,0,0,...,2736,2762,2846,2801,2742,2708,2764,2876,2918,2868
63,33132,2061,2092,2109,2112,2115,2126,2117,2111,2115,...,3338,3324,3321,3320,3327,3375,3401,3435,3426,3428
64,33128,0,0,0,0,0,0,0,0,0,...,2941,2967,2889,2876,2882,2934,2968,3005,3038,3067
65,33122,0,0,0,0,0,0,0,0,0,...,2897,2898,2905,2870,2852,2887,2970,3015,2987,2976

In [77]:
#maybe this dataset can be used as a time-series 
miami_rental_df.to_csv('miami-rentals-over-time-zipcode', index=False)